name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]

    steps:
    - uses: actions/checkout@v5

    - name: Install dependencies (Ubuntu)
      if: runner.os == 'Linux'
      run: |
        sudo apt-get update
        sudo apt-get install -y build-essential

    - name: Configure and build
      run: |
        cd sources/src
        make configure
        make OPTS="-O2 -Wno-implicit-int -Wno-deprecated-non-prototype -Wno-pointer-sign -Wno-implicit-function-declaration" world

    - name: Bootstrap
      run: |
        cd sources/src
        make OPTS="-O2 -Wno-implicit-int -Wno-deprecated-non-prototype -Wno-pointer-sign -Wno-implicit-function-declaration" bootstrap

    - name: Test basic functionality
      run: |
        cd sources/src
        echo "1 + 2;;" | ./camlrun toplevel/camltop -stdlib lib
